/proyectoManoel/nbproject/private/
/victor.rodriguez/build/
/paciente/nbproject/private/
/paciente/build/
/EjermploJDBCSwing/nbproject/private/
/EjermploJDBCSwing/build/
/EjermploJDBCSwing/dist/
/JavaApplication49/nbproject/private/
/JavaApplication49/build/
/JavaSwingJdbc/nbproject/private/
/JavaSwingJdbc/build/